# Configurações do Banco de Dados
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/credito
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Configurações da Aplicação
SPRING_PROFILES_ACTIVE=docker
SERVER_PORT=8080

# Configurações do PostgreSQL
POSTGRES_DB=credito
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Configurações de Memória JVM
JAVA_OPTS=-Xmx512m -Xms256m

# Configurações de Log
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_COM_EXAMPLE=DEBUG 